{{#islogin}}
<script type="text/javascript">
  var __ISLOGIN__ = true;
</script>
{{>check_rest}}
{{/islogin}}
{{^islogin}}
<script type="text/javascript" src="javascripts/utils/underscore-min.js"></script>
<script type="text/javascript" src="crack.js"></script>
<h1>{{title}}</h1>
<div id="login_box">
<form action="login" method="post" name="login_form" id="login_form">
  <table>
    <tr>
      <td>登录名: </td>
      <td>
        <input type="text" name="username" id="username"/>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>密码: </td>
      <td>
        <input type="text" name="password" id="password"/>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <button id="dologin">登陆</button>
      </td>
      <td></td>
      <td></td>
    </tr>
  </table>
</form>
</div>
{{/islogin}}