<h1>{{title}}</h1>
<div id="login_box">
  <table>
    <tr>
      <td>登录名: </td>
      <td>
        <input type="text" id="username"/>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>密码: </td>
      <td>
        <input type="text" id="password"/>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>验证码: </td>
      <td>
        <input type="text" id="rancode"/>
      </td>
      <td>
        <img src="/passcode.jpg?0.1" alt="验证码" title="点击换一张" id="randcode"/>
      </td>
    </tr>
    <tr>
      <td>
        <button id="dologin">登陆</button>
      </td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>